
<div class="narrow-list">

  <h2>Våre foreninger</h2>

  <div class="line-mini">
    <label>Type: </label>
    <button *ngFor="let type of types" (click)="search(type.type)" [ngClass]="(type.type == currentType) ? 'current' : '' " >
      {{type.name}}
    </button>
  </div>

  <form class="formUI" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">

    <div class="line-mini">
      <button class="button" type="submit" (click)="searchForm.reset()">Nullstill</button>
    </div>

  </form>

  <div *ngIf="data; else loadingPlaceholder">

    <div class="line-item" *ngFor="let item of data.results">
        <app-forening-element
          [item]="item"
          (notify)="search(item.type)"
          >
        </app-forening-element>
    </div>

    <div class="line-item" *ngIf="data.next">
      <button (click)="search(this.currentType, data.next)">
        Flere...
      </button>
    </div>

    <p class="line-item">Totalt: {{data.count}}</p>

  </div>

  <ng-template #loadingPlaceholder>
    Vent litt...
  </ng-template>

</div>
