.line-item {
  padding: 5px 0;
}

.line-mini {
  padding: 5px 0 0;
  font-size: 90%;
}

.narrow-list {
  max-width: 400px;
  margin: auto;
}

.formUI {
  padding: 0 0 15px 0;
}

.current {
  color: #00cc00;
}
