/* You can add global styles to this file, and also import other style files */
a {
  color: #1976d2;
  text-decoration: none;
}

.gray {
  color: #aaa;
}

.mini {
  font-size: 80%;
}

.bold {
  font-weight: bold;
}
